
%h2 
	Lista Postów

%ul{:class=>"list-group"}
	- for p in @posts
		%li
			%strong
				%a{:href => "/posts/#{p.id}", :id => "tyt"}= p.title 
			%a{:href => "/posts/#{p.id}/edit"}Edytuj 
			%a.del{:href => "/posts/#{p.id}/destroy" } usun posta
			- if p.publiczny=="tak"	
				%a.publ{:href=>"/posts/#{p.id}/notpublic"}Uczyn niepublicznym
			- else
				%a.publ{:href=>"/posts/#{p.id}/public"}Uczyn publicznym
			%span.badge 
			%br				
			%br
			%hr

		
/ .form-group
/ 	%form.form-control{:method=>"post", :action=>"/post/#{p.id}/category_update"}
/ 		%label Wybierz kategorie
/ 		.sel
/ 			%select.form-control{:name=>"category", :value => "@cats.id"}
/ 				-for o in @cats
/ 					%option
/ 						=o.title
/ 		%button{:type=>"submit"} Dodaj

